.main-filter-msg {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.main {
  form {
    display: flex;
    flex-wrap: wrap;
  }
  .form-control {
    flex-basis: 50%;
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
    }
  }
}